################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/Test01_Hello/.vs/Test01_Hello
/Test01_Hello/bin/Debug
/Test01_Hello/obj
